$media_xsm = 'only screen and (min-width: 34em)'
$media_sm = 'only screen and (min-width:48em)'
$media_md = 'only screen and (min-width: 64em)'
$media_lg = 'only screen and (min-width: 84em)'

$transition_link = ' 0.3s ease'
