@import "~normalize.css"

$media_xsm = 'only screen and (min-width: 34em)'
$media_sm = 'only screen and (min-width:48em)'
$media_md = 'only screen and (min-width: 64em)'

$transition_link = ' 0.3s ease'

body
  font-family: 'Montserrat', sans-serif
  min-width: 320px

#app
  display: flex
  min-height: 100vh
  flex-direction: column

.content
  flex: 1

.container-fluid
  max-width: 1400px
  margin: 0 auto

  &.mid
    max-width: 1200px

// typo
h1
  font-size: 32px
  font-weight: bold
  line-height: 1.25
  color: #ffffff
  max-width: 600px

  @media only screen and (min-width:48em) 
    font-size: 36px

h2 
  font-size: 32px
  font-weight: bold
  color: #000000
  margin-bottom: 10px
  line-height: 1.5

h3
  font-size: 24px
  font-weight: bold
  line-height: 1.5
  color: #000000

h4
  font-size: 18px
  font-weight: bold
  line-height: 1.5


p.caption
  opacity: 0.5
  color: #000000
  font-size: 18px
  line-height: 1.5
  margin-top: 0
  max-width 500px
  margin: 0 auto

.section-heading
  text-align: center
  margin-bottom: 50px

// buttons

a, button
  &.ui-btn
    border-radius: 26px
    background-color: #eb008b
    font-size: 16px
    font-weight: bold
    color:#fff
    border: none
    text-decoration: none
    line-height: 20px
    padding: 17px 25px
    min-width: 150px
    display: inline-block
    text-align: center
    box-sizing: border-box
    cursor: pointer
    
    @media $media_sm
      padding: 17px 50px
  
  &.ui-secondary
    background-color: #0094d9


.link
  font-size: 16px
  font-weight: bold
  color: #0094d9
  text-decoration: none
  transition: color +$transition_link

  &:hover
    color:#fff100

  .icon
    margin-left: 6px

.owl-wrap
  padding-bottom: 30px
  @media $media_sm
    padding-bottom: 90px

  .owl-nav 
    left: 14vw;
    position: absolute
    top: 390px

.heading-caption
  font-size: 18px
  line-height: 1.72
  color: #ffffff
  max-width: 520px
  margin-bottom: 30px

custom_scale(base, value)
  round(base / 100 * value)

.graphics-wrap
  height: 330px;
  position: relative;
  padding: 40px 0;
  box-sizing: border-box;
  max-width: 390px;
  margin-left: auto;

  @media $media_md
    max-width: 500px;

.graphics
  position: absolute
  //background: red
  width: 100%

  &:before
    content: ''
    display: block
    padding-top: 100%

  .graph
    position: absolute

    img
      height: 100%

    .line
      position: absolute
      width: 100%
      height: 73%
      transform: rotate(-30deg)
      z-index: -1
      top: 25%

      &.line-2
        top: 20%;
        height: 84%;

        &:before
          left: 49%
      
      &:before
        content: ''
        position: absolute
        top:0
        left: -10%
        height: 100%
        width: 2000px
        opacity: 0.1
        padding: 0
        background: #fff
        border-radius: 110px
        
  .graph-1
    top: -7%
    left: 0
    height: 55%

    // &:before 
    //   content: ''
    //   height: 100px
    //   top: -434px
    //   left: -139px
    //   width: 2000px
    //   opacity: 0.1
    //   background: #fff
    //   transform: rotate(-30deg)
    //   display: block
    //   position: absolute
    //   z-index: -1
    //   border-radius: 110px

    //   @media $media_md 
    //     height: 201px
    //     top: -330px
    //     left: -144px
  
  .graph-2
    top: 5%
    left: 50%
    height: 67.5%
  
  .graph-3
    bottom: 5%
    left: 10%
    height: 49%

    // &:before 
    //   content: ''
    //   height: 100px
    //   width: 2000px
    //   opacity: 0.1
    //   background: #fff
    //   transform: rotate(-30deg)
    //   display: block
    //   position: absolute
    //   z-index: -1
    //   top: -452px
    //   border-radius: 110px
    //   left: -96px

      // @media $media_md 
      //   height: 201px
      //   top: -405px
      //   left: -38px


header nav a
  transition: opacity +$transition_link

.breadcrumbs
  color:#8da5df
  font-size: 14px
  margin-bottom: 30px

  a
    color:#eb008b
    text-decoration: none

  span
    color: #fff
    text-transform: capitalize

  a, span
    margin: 0 6px
  
  a:first-child
    margin-left: 0

.align-center 
  display: flex
  align-items: center


// gradients
body
  header .waveWrapperInner
    background: linear-gradient(127deg, #a709ff, #0094d9);
    //animation: Gradient 18s ease infinite;
    //background-size: 160% 160%;
  footer .waveWrapperInner
    background: linear-gradient(127deg, #0094d9, #a709ff);
    //animation: Gradient 18s ease infinite;
    //background-size: 160% 160%;

  &.bg-orange
    header .waveWrapperInner
      background-image: linear-gradient(306deg, #4b0997, #b48214);
    footer .waveWrapperInner
      background-image: linear-gradient(306deg, #b48214, #4b0997);

  &.bg-blue-green
    header .waveWrapperInner
      background-image: linear-gradient(307deg, #4b0997, #14b472);
    footer .waveWrapperInner
      background-image: linear-gradient(307deg, #14b472, #4b0997);
  
  &.bg-purple-red
    header .waveWrapperInner
      background-image: linear-gradient(109deg, #a050fc, #4b0997);
    footer .waveWrapperInner
      background-image: linear-gradient(109deg, #4b0997, #a050fc);
  
  &.bg-purple
    header .waveWrapperInner
      background-image: linear-gradient(236deg, #a050fc, #4b0997);
    footer .waveWrapperInner
      background-image: linear-gradient(236deg, #4b0997, #a050fc);


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.overflow-h
  overflow hidden


@media $media_md {
  .hide_md {
    display: none;
  }
}

section
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span
    background: #eb008b

  .owl-theme .owl-nav.disabled + .owl-dots
    margin-top: 20px

  .owl-dots-left
    .owl-theme .owl-dots
      text-align: left
  
  .owl-dots-right
    .owl-theme .owl-dots
      text-align: right

  .owl-theme .owl-nav [class*='owl-']
    width: 64px;
    height: 62px;
    box-shadow: -1px 13px 20px 0 #f0f2f4;
    background-color: #ffffff;
    border-radius: 100%
    box-sizing: border-box;
    border-radius: 100%;
    padding: 0;
    margin: 8px
    
.person
  display flex

  .user-details
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 22px;

  .fullname
    font-size: 15px;
    font-weight: 600;

  .position
    opacity: 0.5;
    font-size: 15px;

.userpic
  width: 50px
  height: 50px
  border-radius: 100%;
  overflow: hidden;