
/* SVG Morph */
.morph-wrap {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
  height: 1000px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
  z-index: -1;
	max-width: 100%;
	overflow-x: hidden;

	&.left {
		left: -60%;
	}

	&.left3 {
		left: -50%;
	}

	&.left2 {
		left: -30%;
	}

	&.right {
		left: auto;
		right: -60%;
	}

	&.right2 {
		left: auto;
		right: -40%;
	}


	&.big {
		height: 2000px;
	}
}

.morph {
	position: absolute;
	max-height: 50%;
	fill: rgba(#4a90e2, 1);
	flex: none;
  top: 0;
}

.vue-tel-input input {
	background: transparent;	
}
